[2018-04-06 02:31] theskyfloor opened #2 "FR: Ability to change or mask path of the generated PDF"
Would love to be able to mask the path so that people can't see what generated the PDF. Another great option would be the ability to force a download. Thanks!

[2018-04-06 05:01] andrelopez commented on #2
Hi @theskyfloor  , Thanks for reaching out. I have added these features to the to-do list. I'll let you know when are ready for testing :)

[2018-06-27 18:58] davist11 opened #3 "Error displaying PDF when debug toolbar is enabled on the front-end"
When I have `Show the debug toolbar on the front end` checked, and I am using ``, I get an error displaying the PDF

[code]

[2018-06-27 21:31] andrelopez commented on #3
Hi @davist11

Thanks for reaching out. I was unable to recreate this issue. We may need more info to help out.

- What do you mean when you say that you're using `` ?
- Are you rendering a template or a URL?

Best,
- Andre L

[2018-06-27 22:00] davist11 commented on #3
Ugh, my mistake, copy and paste fail.

That was supposed to be `{{ craft.enupalsnapshot.displayTemplate('_partials/products/specs-pdf', settings) }}`

[2018-06-28 15:37] davist11 opened #4 "Error adding wkhtmltopdf paths"
I'm getting an error adding my paths to the plugin settings:

[code]

![screen shot 2018-06-28 at 11 36 41 am](https://user-images.githubusercontent.com/199985/42044683-a01ca29c-7ac7-11e8-91f0-0351397ae4f0.png)

Is there something I'm missing?

[2018-06-28 19:56] andrelopez commented on #4
Hi @davist11

It seems to be correct for me. Could you please try to recreate this issue and post back the Log error message in the storage/logs/web.log file? you can try to search for: [enupal\snapshot\Snapshot::error]

Best,
- Andre L

[2018-06-29 17:32] andrelopez commented on #4
Hi @davist11

Are you using Debian?

If so I have to do some research about this bug: https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2037#issuecomment-62019521

[2018-06-29 17:39] davist11 commented on #4
Looks like `Ubuntu 16.04.4 LTS`

[2018-07-03 14:43] andrelopez commented on #4
Hi @davist11

Thanks for following up. It looks like the installation steps in our docs does not work for ubuntu 16.04. Could you please confirm that you followed our steps here: https://enupal.com/craft-plugins/enupal-snapshot/docs/getting-started/installation-setup ?

If so, could you please unistall wkhtmltopdf and try again with these steps:

[code]

If you can confirm us that this works. I'll

[2018-07-03 17:29] davist11 commented on #4
This is the response I got back from <a href="https://www.arcustech.com/">Arcustech</a>

[2018-07-07 15:30] andrelopez commented on #4
Hi @davist11

Thank you for following up. I was able to recreate this issue.  I was also able to find a simple fix to this issue:

 Enupal Snapshot doesn't need that you have installed wkhtmltopdf in the server, it just needs the full path of the wkhtmltopdf and wkhtmltoimage bin files. We can download it via the command line and get the full path from there. We have updated our docs to download w

[2018-07-10 17:53] davist11 commented on #4
Ok, it looks like that worked out, thanks. There's another weird issue going on, but I'll submit a different issue.

[2018-07-10 19:47] #4 closed

[2018-07-19 13:50] sanscheese commented on #4
Does this mean it's doesn't work with wkhtmltopdf installed from apt-get?

`apt-get install wkhtmltopdf`

[2018-07-23 20:47] andrelopez commented on #4
Hi @sanscheese

I think the wkhtmltopdf version is too old when you install it via `apt-get `. What version did you get?

Enupal Snapshot requires just the bin files path. Once you have installed or download you may need to figure out the path of the bin files. For that reason, we have [written a guide](https://enupal.com/craft-plugins/enupal-snapshot/docs/getting-started/installation-setup#instal

[2018-08-05 21:19] bphippen opened #5 "Trouble with Paths in local development"
### Description
Hi, I am having trouble getting the correct paths on my local development server.

I am using Local by Flywheel as a local dev environment and even though made for WP works great for Craft.

I am not extremely familiar with how they make it work, but I know they use docker containers but unsure of the linux OS.

I have SSH'd into the container and tried the command line instruction

[2018-08-05 22:38] bphippen commented on #5
Installed 3 more libraries and it seems to work now.

apt-get install libxrender1
apt-get install libfontconfig1
apt-get install libxext6

[2018-08-06 00:47] andrelopez commented on #5
Hi @bphippen

Thanks for the update. I'll add this to the docs.

Best,

[2018-08-06 13:26] #5 closed

[2018-09-10 11:21] webskimajster opened #6 "Error: Something went wrong in the test"
### Description

This is what logs shows when i looking for [error][enupal\snapshot\Snapshot::error]
[code]

What can i do with this issue?

### Additional info

- Craft version: 3.0.22
- PHP version: 7.2.3
- Plugin version: 1.0.6

[2018-09-10 12:27] webskimajster commented on #6
Sorry this was my server misconfiguration. Fixed already.

[2018-09-10 12:27] #6 closed

[2018-09-12 21:13] andrelopez opened #7 "Adds an integration with Stripe Payments"

[2018-10-24 17:24] andrelopez opened #8 "Add a setting to check if the PDF already exists and avoid PDF-generation"
Notify

- [ ] [1540283105634100001](https://mail.zoho.com/zm/#mail/folder/inbox/p/1540283105634100001)

[2018-11-06 18:15] andrelopez opened #9 "Add an integration with Solspace calendar"
Add a `Download PDF` button next to the `Download ICS` in the front-end

[2018-11-08 13:23] K31Z0 opened #10 "Got a 404 error on PDF / Images download link generation"
### Description
Got a 404 error on PDF / Images download link generation:

[code]

I'm maybe missing something to make it work.

### Steps to reproduce

1. Install the extension
2. Copy / Paste the example code in your template
[code]
3. The URL generated is always `http://mydomain.test/enupalsnapshot/my-first-image.png`

### Additional info

- Craft version: Craft Pro 3.0.30.1
- PHP version: 7.0.

[2018-11-08 17:48] andrelopez commented on #10
Hi @K31Z0

This could be due to a permissions issue. Could you please check that the `enupalsnapshot` exists in your web (public) folder and has the right permissions?

Best,

[2018-11-08 18:07] K31Z0 commented on #10
Hi @andrelopez,

Yes the `enupalsnapshot` exists in the public folder (screen attached)
I also tried to change to rights to 777 but nothing change.

[
![screen shot 2018-11-08 at 18 56 07](https://user-images.githubusercontent.com/1470129/48218137-7bb0a900-e389-11e8-80b1-e90bdf7b5b73.png)
![screen shot 2018-11-08 at 18 54 31](https://user-images.githubusercontent.com/1470129/48218138-7bb0a900-e389

[2018-11-08 19:17] andrelopez commented on #10
Thanks @K31Z0,

Thanks for following up. Can you see the image in the enupalsnapshot folder?

It is weird because the error says that Template not found: `enupalsnapshot/my-first.pdf` however the url is pointing to a `my-first.png` image

Could you please send me a screenshot when you visit: http://mydomain.test/enupalsnapshot/my-first-image.png in your browser?

_You can send us files to support@

[2018-11-09 07:10] K31Z0 commented on #10
Hi @andrelopez,

I cannot see the picture in the snapshot folder.

Yes sorry, the example in the ticket title was with a PDF test, but the behaviour is the same for the pictures.

The screenshot will follow in your email

Best.

[2018-11-28 15:50] rachelrine commented on #2
Ability to save PDF to an asset source (such as AWS) would also be great!

[2018-12-14 14:40] fdghffdgf opened #11 "File not Found"
I tried to install wkhtmltopdf on my mac via the Installer and via Brew.
The Error i get:
`Something went wrong when creating the PDF file: The exit status code '127' says something went wrong: stderr: "sh: 1: /usr/local/bin/wkhtmltopdf: not found " stdout: "" command: "/usr/local/bin/wkhtmltopdf" --lowquality --dpi '96' --load-error-handling 'ignore' --zoom '1.33' '/homepages/21/d456848011/htdocs

[2018-12-14 14:43] andrelopez commented on #11
Hi @fdghffdgf

Could you please run the next command in your terminal:
`which wkhtmltopdf`

What is the output?

[2018-12-14 14:48] fdghffdgf commented on #11
/usr/local/bin/wkhtmltopdf

[2018-12-14 15:11] andrelopez commented on #11
Thanks @fdghffdgf

Could you pelase go to The Snapshot Settings in your Craft CMS dashboard and save the next paths:

- wkhtmltopdf
`/usr/bin/wkhtmltopdf`

- wkhtmltoimage
`/usr/bin/wkhtmltoimage`

After the save the new paths, did you see a blue confirmation message?

[2018-12-14 15:17] fdghffdgf commented on #11
I get the same error like before:

 Logs says the same like above.

[2018-12-15 02:58] andrelopez commented on #11
Sorry @fdghffdgf I haven't tested in MAC, could you please try to install wkhtmltopdf from this link: https://wkhtmltopdf.org/downloads.html#stable

[2018-12-16 14:07] fdghffdgf commented on #11
Hm… This was the first what i tried, after that brew.

[2018-12-17 14:32] andrelopez commented on #11
Ok, let's try the next instructions:

- Could you please run the next command in the console?
`wkhtmltopdf https://google.com google.pdf`

- If you can see the google.pdf file, could be a permissions issue. Could you please set 777 permissions to the `/usr/local/bin/wkhtmltopdf` and `/usr/local/bin/wkhtmltoimage` paths? The save the above paths in the Snapshot settings?

[2018-12-17 17:10] fdghffdgf commented on #11
This works fine. No Problem.
Permission was already set to 777. It´s right that i install it locally or? Do i have to install wkhtmltopdf on the server?

But thanks for your help!

[2018-12-18 01:56] andrelopez commented on #11
Yes, You need to install wkhtmltopdf in your server.

What are you using in your dev environment? vagrant, MAMP, etc?

[2018-12-18 09:51] fdghffdgf commented on #11
Than this is the problem.
I´m sorry. I work with 1&1 and via SSH i get only errors…

[2018-12-19 17:08] malamoet commented on #2
Any update on this?

[2018-12-19 17:34] andrelopez commented on #11
@fdghffdgf You need to install wkhtmltopdf in the server that you're connecting via ssh. We can help with that task send us an email to support@enupal.com.

Best,

[2018-12-19 17:34] #11 closed

[2018-12-19 17:38] andrelopez commented on #10
@K31Z0  We'll try to improve this behavior by adding support to store the pdf via asset folders.

Please subscribe to this ticket: https://github.com/enupal/snapshot/issues/2

[2018-12-19 17:38] #10 closed

[2018-12-19 17:41] andrelopez commented on #2
@malamoet we're working to add support to save PDF in assets folders. We hope to have this feature before the end of the year.

[2019-01-07 18:59] andrelopez commented on #8
We just released Enupal Snapshop v1.1.2 with support for override files. If the Override File setting is disabled will check if the file already exists to prevent file generation. You can also pass this setting in your templates before generating the file.

https://enupal.com/craft-plugins/enupal-snapshot/docs/advanced/override-file

[2019-01-07 19:00] #8 closed

[2019-01-12 21:04] #9 closed

[2019-01-17 10:39] andrelopez opened #12 "Issue when updating plugin in Craft 3.1"
Notify

- [x] [1547721436119100001](https://mail.zoho.com/zm/#compose/drafts/1547721436119100001)

[2019-01-23 21:10] DynamiteGoesBoom commented on #12
@andrelopez Is there an ETA for this? I'd like to try the plugin out, but it fails to install each time:

![screen shot 2019-01-23 at 2 09 44 pm](https://user-images.githubusercontent.com/39201467/51637280-90c4bf00-1f18-11e9-8ac9-64fb09e10577.png)

[2019-01-23 21:44] andrelopez commented on #12
@DynamiteGoesBoom Please click in "Remove it" we're working to add support to Craft 3.1 this week.

[2019-01-23 21:57] DynamiteGoesBoom commented on #12
Right, I already did that. Thanks for the quick response.

On Wed, Jan 23, 2019, 2:44 PM Andre Lopez <notifications@github.com wrote:

[2019-01-24 21:56] andrelopez commented on #12
@DynamiteGoesBoom We just released Enupal Snapshot v1.2.0 with support for Craft 3.1, please update/install the plugin and let us know if the issue is solved.

[2019-01-25 00:28] andrelopez opened #13 "Add support to pass cover template"

[2019-02-15 09:45] K31Z0 commented on #10
Dear Andre,

Sorry for the late response.
Just replying to let you know that with the recent updates and Craft 3.1 everything works fine now :)

Best regards

Luigi

[2019-02-15 09:48] K31Z0 opened #14 "Generation triggered programatically"
Hello,

I would like to know if it is possible to generate a PDF or IMG using Enupal Snapshot programatically in a Craft Module ?

Thanks in advance

Luigi

[2019-02-15 10:42] andrelopez commented on #14
Hi @K31Z0

Yes, it is possible. Please follow the next examples:

[code]

Remember to add a return statement if you want to display a inline PDF:

[code]

Please let me know if you have any questions

[2019-02-15 10:42] #14 closed

[2019-02-15 10:44] andrelopez commented on #7
Added in `v1.2.1`

[2019-02-15 10:44] #7 closed

[2019-02-15 12:38] K31Z0 commented on #14
Hi @andrelopez,

Thanks for the quick reply,

I tried the code you sent me with (which was the methods I tried before opening this ticket) :

[code]

but I have this error in return:

`Trying to get property 'image' of non-object`

Best regards

[2019-02-18 15:57] helleholmsen commented on #12
It doesn't work with version 3.1.12. I tried to delete the plugin and then install again but fails:

[code]

[2019-02-18 16:06] andrelopez commented on #12
Hi @helleholmsen

We just released Enupal Snapshot v1.2.2 with a fix to this error. Could you please update your plugin and let us know if is fixed?

Best,

[2019-02-19 08:42] helleholmsen commented on #12
@andrelopez I'm deleting the plugin and trying to install again but it doesn't work. Same errors as above

[2019-02-19 08:55] helleholmsen commented on #12
@andrelopez tried again this morning and now it worked. Thank you for the help!

[2019-02-21 00:42] andrelopez commented on #12
Thanks for reporting @helleholmsen

[2019-02-21 00:42] #12 closed

[2019-02-28 20:34] ademers opened #15 "Error(s) installing wkhtmltopdf on Vagrant/Homestead"
### Description

I'm using Vagrant/Homstead in local dev, Ubuntu 18.04 LTS and when I attempt to install wkhtmltopdf following instructions at https://enupal.com/craft-plugins/enupal-snapshot/docs/getting-started/installation-setup

Error:
[code]

Based on a recommendation in the Craft Discord community, I tried https://github.com/JazzCore/python-pdfkit/wiki/Using-wkhtmltopdf-without-X-server

I w

[2019-03-04 13:24] andrelopez opened #16 "Force Download when using inline:false"

[2019-03-04 13:35] andrelopez commented on #15
Hi @ademers

You're only getting this error in the `wkhtmltoimage` ? If so could you please follow the same [instructions](https://github.com/JazzCore/python-pdfkit/wiki/Using-wkhtmltopdf-without-X-server) but for the `wkhtmltoimage` lib?

[2019-03-04 14:17] andrelopez commented on #15
Hi @ademers

Could you please try to follow the next instructions: https://github.com/enupal/snapshot/issues/4#issuecomment-403223479

Install wkhtmltopdf is not required so let's try to download the bin files and add the bin path to the Enupal Snapshot settings

[2019-03-04 17:53] ademers commented on #15
Hi @andrelopez,

That worked and my settings were successfully applied as follows:

Absolute Binary Path of wkhtmltopdf lib -> /home/vagrant/wkhtmltox/bin/wkhtmltopdf
/home/vagrant/wkhtmltox/bin/wkhtmltoimage -> /home/vagrant/wkhtmltox/bin/wkhtmltoimage

Thanks!

Would it make sense to update the instructions at https://enupal.com/craft-plugins/enupal-snapshot/docs/getting-started/installation-set

[2019-03-04 18:53] rachelrine opened #17 "Something went wrong"
### Description
I'm getting frequent errors on PDF generation.

The logs say "Something went wrong when creating the PDF file: The file `filename.pdf` was not created."

On the front end, I'm wondering if there's a better way to handle the errors. I'm outputting the PDF url, so when it fails, the link is still there it's just broken.

When I refresh the page, the PDF will generally work. I've incr

[2019-03-04 21:14] andrelopez commented on #15
@ademers  Thanks for following up. I'll update the docs thanks.

[2019-03-04 21:14] #15 closed

[2019-03-12 13:54] siebird commented on #15
I'm having the same problem as @ademers. Following the instruction from #4 and the docs. Getting the following error:

[code]

[2019-03-29 19:04] theskyfloor opened #18 "Can't Save Path But Test Does Work/Makes File"
### Description

2019-03-29 11:54:16 [-][1][-][error][enupal\snapshot\Snapshot::error] Something went wrong when creating the Image file: The exit status code '1' says something went wrong:
stderr: "Unknown long argument --format

Name:
  wkhtmltopdf 0.12.4 (with patched qt)

Synopsis:
  wkhtmltopdf [GLOBAL OPTION]... [OBJECT]... <output file>

Document objects:
  wkhtmltopdf is able to put severa

[2019-04-17 22:12] theskyfloor commented on #18
I couldn't get this to run no matter what I did... eventually I just erased this from the validation functions:

    if ($object->pdfBinPath && !UrlHelper::isFullUrl($url)) {
            $this->addError($object, $attribute, Snapshot::t('Something went wrong in the test. Please check the path and your logs.'));
        }

And the plug-in now operates as it should. Troubleshooting would be great bec

[2019-04-17 22:13] theskyfloor commented on #18
Wondering if `$url = Snapshot::$app->pdf->test() ?? '';` is not populated for some reason?

[2019-04-17 23:02] andrelopez commented on #18
Hi @theskyfloor

Could you please check your `wkhtmltoimage` path setting? It looks like you're saving `wkhtmltopdf` instead of `wkhtmltoimage` in your settings.

`"
stdout: "

"
command: "/home/theskyfloor/webapps/calc/wkhtmltox/bin/wkhtmltopdf" --format 'jpg' --zoom '1.33' '/home/theskyfloor/webapps/calc/storage/runtime/temp/enupalsnapshottemp/knp_snappy5c9e69d80a5502.19732757.html' '/home/thesk

[2019-04-17 23:07] andrelopez commented on #17
Hi @rachelrine

Thanks for reaching out. Sorry for the late reply. You're right it's weird that the link shows the error message we'll fix that in the next release.

To get more info about the error you need to recreate the error and check the next log file:
`storage/logs/web.log`

We can review that log file for you if you want. Please send us an email with the log file to: support@enupal.com

[2019-04-18 14:59] theskyfloor commented on #18
Hmm in both environments I have the boxes set correctly and it still errs:

<img width="605" alt="Screen Shot 2019-04-18 at 9 58 41 AM" src="https://user-images.githubusercontent.com/8887839/56370346-a9174380-61c0-11e9-937e-b81a3a3c6b33.png">

[2019-04-18 15:27] andrelopez commented on #18
Hi @theskyfloor,

Could you please run the command from your terminal:

/home/theskyfloor/webapps/calc/wkhtmltox/bin/wkhtmltopdf http://google.com google.pdf

What is the output?

[2019-04-18 15:39] theskyfloor commented on #18
` /lib/ld-linux.so.2: bad ELF interpreter: No such file or directory`

I gave up on this server though because I found that I was having issues with the library missing some 32-bit extensions and I dont have root access to add them. Now I am running this site on Digital Ocean and was able to add the necessary extensions so it runs without errors but I still can't save the setting without erasing t

[2019-04-18 15:40] theskyfloor commented on #18
To be clear the logs are clear on save with this server! But I still get the can't save settings error.

[2019-04-18 17:36] andrelopez commented on #18
Got it! but we need to know what is the issue on the new server. Could you please run the next command on the digital ocean server?

`/home/forge/m4mquiz.historicdev.com/wkhtmltox/bin/wkhtmltopdf http://google.com google.pdf`

What is the output?

[2019-04-18 18:00] theskyfloor commented on #18
Loading pages (1/6)
QSslSocket: cannot resolve CRYPTO_num_locks                  ] 10%
QSslSocket: cannot resolve CRYPTO_set_id_callback
QSslSocket: cannot resolve CRYPTO_set_locking_callback
QSslSocket: cannot resolve sk_free
QSslSocket: cannot resolve sk_num
QSslSocket: cannot resolve sk_pop_free
QSslSocket: cannot resolve sk_value
QSslSocket: cannot resolve SSL_library_init
QSslSocket: cannot r

[2019-04-18 18:00] theskyfloor commented on #18
It made the PDF too

[2019-04-18 20:17] andrelopez commented on #18
@theskyfloor We just confirmed that the `wkhtmltopdf` lib is working. Could you please check the asset settings that you're using in the `Upload Location` setting and make sure that the next setting is enabled:

`Assets in this volume have public URLs`

[2019-04-18 20:26] theskyfloor commented on #18
Ah! That isn't set. Is that a requirement? If so I don't think its noted in the docs anywhere. Tested it and it's working! I see now based on the validation method why it won't save if it cant generate a front-end URL. Should be in the docs or maybe the validator could check for those settings so that it could return an informative error. Thanks for the help!

[2019-04-18 21:12] rachelrine commented on #17
Sent.

[2019-04-18 23:17] andrelopez commented on #18
@theskyfloor You're right, we'll add a validation to only show Assets with public URL's

You're very welcome 👍

[2019-04-18 23:17] #18 closed

[2019-04-26 13:12] piotrpog opened #19 ""Asset is missing its folder ID" ERROR when i try to save plugin settings"
I cannot save plugin settings. When i try, i get "Asset is missing its folder ID" error.

Application Info
PHP version	7.2.1
OS version	WINNT 10.0
Database driver & version	MySQL 5.5.5
Image driver & version	GD 7.2.1
Craft edition & version	Craft Solo 3.1.20.1
Yii version	2.0.16.1
Twig version	2.8.1
Guzzle version	6.3.3
Imagine version	0.7-dev
Plugins
Campaign	1.7.4
Contact Form	2.2.3
Contact Form

[2019-05-20 17:25] andrelopez commented on #19
Hi @piotrpog

Could you please recreate the error and send us a zip file of the next folder: `storage/logs` to support@enupal.com ?

[2019-05-20 17:25] andrelopez opened #20 "Add support to return the asset model instead of the url."

[2019-05-22 13:37] piotrpog commented on #19
@andrelopez Just sent.

[2019-05-30 23:31] lindseydiloreto opened #21 "Set `wkhtmltopdf` paths using .env values"
Is it possible to set the binary paths using `.env` values?

<img width="391" alt="Ω 2019-05-30 at 4 29 56 PM" src="https://user-images.githubusercontent.com/5309692/58671695-620c8a00-82f8-11e9-8e10-82657afb33dc.png">

[2019-05-30 23:42] lindseydiloreto opened #22 "Typo in the docs"
~and~ -> **a**

<img width="920" alt="Ω 2019-05-30 at 4 38 35 PM" src="https://user-images.githubusercontent.com/5309692/58672009-c67c1900-82f9-11e9-8657-00097849b6be.png">

[2019-05-30 23:48] davist11 opened #23 "UnknownNetworkError"
### Description

We had everything working fine, and then our host upgraded the OS to Ubuntu 18.04. I confirmed the steps <a href="https://enupal.com/craft-plugins/enupal-snapshot/docs/getting-started/installation-setup#install-wkhtmltopdf-on-ubuntu-via-command-line">here</a> and also made sure my paths were correct, but this is what I see in the logs:

[code]

### Steps to reproduce

1. Visit htt

[2019-05-30 23:57] lindseydiloreto opened #24 "Can't save settings (even though they are correct)"
✅ My binary paths are correct.
✅ The test `png` & `pdf` are being generated.
❌ But for some reason, I'm seeing an error message when I try to save settings.

When I check the logs, there is nothing indicating an error took place. 🤔

Let me know if you need additional information!

[2019-06-01 00:08] andrelopez commented on #22
Thank you!

[2019-06-01 00:08] #22 closed

[2019-06-01 00:11] andrelopez commented on #23
Hi @davist11
Could you please run the next command if you're on Ubuntu 18.04:

`sudo apt install libssl1.0-dev`

Please let us know if that solves your issue.

[2019-06-01 00:13] andrelopez commented on #24
Hi @lindseydiloreto

Could you please confirm that the Asset has the public URL lightswitch enabled in the asset settings?

[2019-06-01 00:17] andrelopez commented on #17
Hi @rachelrine

I'll close this issue for now, but you can follow up via email.

Best,

[2019-06-01 00:17] #17 closed

[2019-06-01 05:59] lindseydiloreto commented on #24
Ah, interesting! That's exactly what the problem was. Once I enabled public URLs, I was then able to save the plugin's settings without an error.

Perhaps it's just a messaging issue. I didn't realize that a public URL was required.

[2019-06-02 20:33] lindseydiloreto opened #25 "Spanish pages in docs"
Some docs pages are in Spanish?

https://enupal.com/craft-plugins/enupal-snapshot/docs/image-examples/generate-an-image-from-html
https://enupal.com/craft-plugins/enupal-snapshot/docs/image-examples/image-lib-options

[2019-06-03 15:13] andrelopez commented on #25
Thanks @lindseydiloreto, fixed!

[2019-06-03 15:13] #25 closed

[2019-06-03 16:37] lindseydiloreto commented on #25
Great, no problem! 🙂

[2019-06-04 00:52] andrelopez commented on #23
Hi @davist11

I can see the PDF from your URL. Were you able to fix the issue?

[2019-06-04 14:57] davist11 commented on #23
It appears like the host didn't install `libssl` when I first requested it, but then they did later. I think this is resolved now. Thanks!

[2019-06-04 14:57] #23 closed

[2019-06-12 11:09] shornuk opened #26 "Settings not saving when using multi environment conig"
### Description

Installed plugin, set up and working nicely. Created a `snapshot.php` file in the `config` folder. Added bin paths for the relevant environments, but the settings just don't save and nothing added to the `snapshot.php` file is getting through to the plugin.

- Craft version: 3.1.30
- Plugin version: Latest

[2019-06-18 11:12] #24 closed

[2019-06-18 11:13] andrelopez commented on #19
The problem was due to the Asset source does not allow pdf extension

[2019-06-18 11:13] #19 closed

[2019-06-24 22:55] lindseydiloreto commented on #21
I actually just did this for the CP CSS plugin. It was very, very easy.

https://github.com/doublesecretagency/craft-cpcss/commit/8631394156bd752ee3f56a673517cde9c3d51e14

Specifically, pay attention to the changes I made in these two files...

 - templates/settings.twig
 - web/assets/CustomAssets.php

[2019-06-25 12:38] andrelopez commented on #21
Hi @lindseydiloreto

Thanks for the example. We just released Enupal Snapshot v1.2.4 with support for environmental variables

[2019-06-25 12:38] #21 closed

[2019-06-25 12:40] andrelopez commented on #26
Hi @shornuk

We just released Enupal Snapshot v1.2.4 with support for [environmental values](https://docs.craftcms.com/v3/config/environments.html) please let us know if that would work.

[2019-06-25 12:40] #26 closed

[2019-06-25 15:33] lindseydiloreto commented on #21
Brilliant, thanks man! 🍺

[2019-06-26 17:28] gdubois414 opened #27 "PDF Fails when passing margin-top as cliOption"
### Description
I keep getting this error in the log: Something went wrong when creating the PDF file: The option 'margin-top ' does not exist.

My code is as follows:
[code]

I have tried using an integer, string, and including px in the margin-top value. Removing that option fixes the problem.

### Steps to reproduce

1. Add 'margin-top' to cliOptions
2. Go to url of the pdf

### Additional info

[2019-06-26 19:59] andrelopez commented on #27
The error was due to extra space in the `'margin-top '` key

[2019-06-26 19:59] #27 closed

[2019-07-08 20:30] iapparatus opened #28 "Failed to load inline PDF using provided examples."
### Description

Failed to load inline PDF using provided examples even though the PDF Download URL example is working.

### Steps to reproduce

1. Use the following example:

[code]

See attached output.

### Additional info

- Craft version: 3.1.30
- PHP version: 7.2.5
- Database driver & version: MySQL 5.5.5
- Plugin version: 1.2.4

[10c5c61a07222bf9759e37236f85867b860be0421f4f8071f2da136a95db3

[2019-07-09 00:38] andrelopez commented on #20
Added in v1.2.5 [docs](https://enupal.com/craft-plugins/enupal-snapshot/docs/advanced/return-asset-model)

[2019-07-09 00:38] #20 closed

[2019-07-10 01:46] andrelopez commented on #28
Hi @iapparatus

Could you please recreate the error and send back to us (support@enupal.com) a zip file of the following folder?

storage/logs

Are you able to recreate this issue in a different browser?

[2019-07-10 21:19] davist11 opened #29 "PDF Not Rendering when devMode = false"
### Description
We are in the process of updating Craft to 3.1 and updating plugins to go along with it. This PDF rendered fine before, but now, the PDF will not render if `devMode` is set to `false`. The PDF works fine in my local environment (where `devMode` is `true`), but once deployed to staging, where it's `false` I get the following:

![image](https://user-images.githubusercontent.com/19998

[2019-07-11 15:46] okay-type commented on #29
I have the same problem.

[2019-07-11 15:54] andrelopez commented on #29
Thanks. I'm on it

[2019-07-11 20:15] andrelopez commented on #29
Hi @davist11 @okay-type

We just released Enupal Snapshot v1.2.6 with a fix to this issue, could you please update the plugin and let us know if the issue is fixed?

Best,

[2019-07-11 20:15] #29 closed

[2019-07-11 20:17] andrelopez commented on #28
Hi @iapparatus
We just released Enupal Snapshot v1.2.6 with a fix to this issue, could you please update the plugin and let us know if the issue is fixed?

Best

[2019-07-11 20:17] #28 closed

[2019-07-11 20:31] davist11 commented on #29
Yup, looks like that fixed it. Thanks for the quick fix!

[2019-07-11 20:55] iapparatus commented on #28
Fixed! Thank you!

[2019-07-19 17:26] stphnmartin opened #30 "Cannot save settings. Ubuntu 18.04.2 LTS"
### Description
I've followed the installation instructions for Ubuntu and installed Wkhtmltopdf, however, I cannot save the settings with the correct paths in the CP settings. I receive a "Couldn't save plugin settings." error message. There is nothing in the error logs indicating there is a problem. I read another tix with this similar problems saying to make sure assets have a public URL and th

[2019-07-19 18:25] andrelopez commented on #30
Hi @stphnmartin

We may need more info to help out. Could you please send us a zip file of the following folder?

`storage/logs`

Please send the file to support@enupal.com

[2019-07-19 18:40] stphnmartin commented on #30
I will email them. I've sent them previously.

[2019-07-19 18:40] stphnmartin commented on #30
Just sent log files.

[2019-07-22 20:01] andrelopez commented on #30
The error was:

`Something went wrong when creating the PDF file: The exit status code '127' says something went wrong:
stderr: "/storage/av06309/wkhtmltox/bin/wkhtmltopdf: error while loading shared libraries: libXrender.so.1: cannot open shared object file`

And was solved running the following in the server:

`sudo apt-get install libxrender1`

[2019-07-22 20:01] #30 closed

[2019-08-14 10:58] mdunbavan opened #31 "504 Gateway Time-out on saving settings"
### Description
Issue we are facing is that when we save the plugin settings, nothing happens and it times out.

### Steps to reproduce

1. Install wkhtmltopdf packages locally
2. Install plugin
3. Activate plugin
4. Go to settings and save

### Additional info

- Craft version: 3.2.9
- PHP version: 7.3
- Database driver & version:
- Plugin version: 1.2.6

[2019-09-05 17:10] andrelopez commented on #31
Hi @mdunbavan Could you please recreate this issue and send back to us a zip file of the following folder?
`storage/logs`

Please send the file to support@enupal.com

[2019-09-17 16:54] gdubois414 opened #32 "Images not showing in PDF"
### Description
I am referencing an image in my html, and it is not showing in the PDF. I can navigate directly to the image, so I know it exists. This is a recent change, and everything else is still working fine.

### Steps to reproduce

1. Reference image in html
2. View PDF generated from html

### Additional info

- Craft version: 3.1.31
- PHP version: 7.2.19
- Database driver & version: MySQ

[2019-09-18 08:33] bymayo commented on #29
I'm getting this issue, even when I've updated v.1.2.6

Craft Pro 3.3.3
Enupal Snapshop 1.2.6
PHP 7.0.33

[2019-10-07 14:23] nearkingdom opened #33 "Passing a Variable?"
I'm trying to pass a variable ID into my PDF template... I'm assuming the following  documents how to pass the variable through to the template:

![foo](https://user-images.githubusercontent.com/7198242/66319970-dcd45a00-e915-11e9-9c43-c5369f393abe.png)

But what I'm not told is how I should print this out in the pdf template. Outputting `{{ foo }}` doesn't work.

[2019-10-10 21:57] andrelopez commented on #33
Hi @nearkingdom

Could you please send back to use the template to support@enupal.com?

Best

[2019-10-11 13:57] nearkingdom commented on #33
It seems to be working now...

[2019-10-11 13:58] nearkingdom commented on #13
Has this been added to the plugin yet?

[2019-10-14 15:44] nearkingdom commented on #33
This isn't resolved sorry... here is the full code. I'm getting the following error:

`Variable "passSubmissionId" does not exist.`

Below is the template code for the Landing page for clicking on the PDF Download and the PDF template itself which isn't recognising the variable.

**Landing Page to Generate the PDF**
[code]

**PDF Template:**
`{% set submission = craft.freeform.submissions({id: pas

[2019-11-12 13:14] #33 closed

[2019-11-12 13:24] nearkingdom opened #34 "Plugin Settings Don't Save"
### Description

I’m having an issue getting Enupal Snapshot working on our staging server. The settings do not want to save in the craft admin.

I have sent my log files. It isn’t obvious what the error is. Any help would be great.

![image](https://user-images.githubusercontent.com/7198242/68674967-cc378500-054e-11ea-8c05-06ca65351a76.png)

### Steps to reproduce

1. which wkhtmltopdf outputs /u

[2019-11-18 14:42] aquafun opened #35 "override setting does not work"
### Description

if you try to generate a pdf with  following configuration:
`{%
	set settings = {
		filename: 'my-first-pdf.pdf',
		inline: false,
		overrideFile: false
	}
%}`

it still regenerate the pdf even when the file exists.

### Steps to reproduce

1. generate a pdf with the option `overrideFile:false`
2. now reload the page
3. still generating the pdf

### Additional info

- Craft versio

[2019-11-23 22:05] andrelopez commented on #34
Hi @nearkingdom Were you able to solve the issue with the amazon s3 bucket issue?

[2019-11-23 22:06] andrelopez commented on #31
I'm going to close this ticket due to no response. Feel free to reopen if still getting this issue

[2019-11-23 22:06] #31 closed

[2019-11-25 13:39] nearkingdom commented on #34
No - it still persists on my staging environment. I can't find the issue.

[2019-12-04 13:30] andrelopez commented on #35
Hi @aquafun we just released v1.2.7 with a fix to this problem. Thank you

[2019-12-04 13:30] #35 closed

[2019-12-18 11:21] eirabben commented on #32
I had the same problem, but resolved it by adding the proper HTML to the template.

This does not work:
[code]

This works:
[code]

The same thing applies when using a twig template instead of the html variable.

[2020-04-24 21:48] poopsplat commented on #3
+1 — also experiencing an error to display the pdf when the debug toolbar is enabled.

[2020-05-16 02:51] dallimor commented on #34
I ran into this issue and for me it was trying to save to a volume where the assets don't have URLs.

It's an issue with the validators expecting a URL to be returned after the pdfs are generated.

I got around it by adding

`        if (!$asset->getVolume()->hasUrls){
            return UrlHelper::siteUrl();
        }`

At the end of _generatePdf in  \enupal\snapshot\contracts\SnappyPdf and in _g

[2020-06-16 09:48] darylknight opened #36 "Broken link in docs"
On the (requirements)[https://docs.enupal.com/enupal-snapshot/getting-started/requirements.html] page in the docs, there's a link for how to install wkhtmltopdf. That link just takes you back to the Installation of the plugin page.

It appears to link to
https://enupal.com/craft-plugins/enupal-snapshot/docs/getting-started/installation-setup#entry:2491:url which is either broken or a redirect.

[2020-06-16 10:29] darylknight commented on #4
I just had this problem on DigitalOcean, Ubuntu 18.04. `apt-get` correctly installs version 12.4, but it's not recognised by Enupal Snapshot, even if I setup symlinks. The problem is that there's no X server (whatever that is?): `qt.qpa.screen: QXcbConnection: Could not connect to display`

Related to the issue I just filed, the docs don't seem to exist anymore #36

[2020-06-16 17:40] andrelopez commented on #36
Hi @darylknight fixed! https://docs.enupal.com/enupal-snapshot/getting-started/installation-setup.html#install-wkhtmltopdf-on-ubuntu-via-command-line

Thanks for reporting

[2020-06-16 17:40] #36 closed

[2020-06-16 17:42] andrelopez commented on #4
Hi @darylknight this is a known bug when installing from `apt-get` could you please uninstall that and try again with the following instructions? https://docs.enupal.com/enupal-snapshot/getting-started/installation-setup.html#install-wkhtmltopdf-on-ubuntu-via-command-line

You only need to download the lib in a safe place on your server.

Please let me know how it goes

[2020-06-16 17:51] darylknight commented on #4
Thanks Andre! I was just commenting on the post above. But yes, following the commands in the comment above (now in the docs) solves the problem on Ubuntu. Cheers!

[2020-06-26 05:13] luizhv opened #37 "Unable to find the template"
### Description

I'm using snapshot alongside stripe payments and when I try to view an order I get this error no matter what template path I use.

![Screenshot 2020-06-26 at 5 04 36 PM](https://user-images.githubusercontent.com/1696285/85822966-50820400-b7d0-11ea-98cf-a09e358ee15e.png)

### Steps to reproduce

1. Click to view the order

### Additional info

- Craft version: Craft Solo 3.4.25
- P

[2020-06-30 08:34] andrelopez commented on #37
@luizhv I was able to recreate this issue and I'll let you know once is fixed

[2020-07-02 08:32] andrelopez commented on #37
Hi @luizhv We just released Enupal Snapshot v1.2.8 with a fix to this problem. Thanks for reporting

[2020-07-02 08:32] #37 closed

[2020-07-20 10:09] ballmannweber opened #38 "wkhtmltopdf on apache?"
we would love to use your pdf-plugin but I found no clues how to install wkhtmltopdf on apache. is this supported?
thanks!

[2020-07-23 08:38] andrelopez commented on #38
Hi @ballmannweber Do you check our docs of how to download the wkhtmltopdf lib on ubuntu? https://docs.enupal.com/enupal-snapshot/getting-started/installation-setup.html#install-wkhtmltopdf-on-ubuntu-via-command-line

Please let me know if you have any questions

[2020-10-13 13:34] johnwbaxter opened #39 "Can't generate PDF - BaseSnappy::resolveVolumePathToFolderId() must be of the type string, null given"
### Description

Try and generate a PDF and get the following error.

Here is the stack trace:

2020-10-13 14:15:19 [-][7615][71a77211f5ebc850432519cc7d47ce8f][error][TypeError] TypeError: Argument 2 passed to enupal\snapshot\contracts\BaseSnappy::resolveVolumePathToFolderId() must be of the type string, null given, called in /home/examplecom/vendor/enupal/snapshot/src/contracts/BaseSnappy.php on

[2020-10-13 13:36] johnwbaxter commented on #39
It looks like the plugin settings just needed resaving. Ignore!

[2020-10-13 13:36] #39 closed

[2020-11-03 20:59] Graphetal opened #40 "Can't save binary paths even when assets in this volume have public URLs is set"
### Description

I'm not able to save the setting in Enupal Snapshot after placing valid paths. Getting the "Something went wrong in the test. Please check the path and your logs" error. I've confirmed that the upload destination is to a volume where "Assets in this volume have public URLs" was set. Also, I've run a test (http://google.com google.pdf) and everything is fine.

### Steps to reproduc

[2020-11-04 09:37] andrelopez commented on #40
Hi @Graphetal could you please send back to us a zip file of the storage/logs folder to support@enupal.com?

In the meantime could you please check that your Volume (Settings -> Assets -> Volumes) has the next setting enabled?
`Assets in this volume have public URLs`

Also, that has a valid URL HTTP or HTPPS (relative URL's are not supported)

[2020-11-05 01:43] Graphetal commented on #40
Well looks like I'm an idiot :)

Turns out I forgot to include a forward slash in the Base URL which was generating a broken link (thus not a valid URL)

Thanks for the quick response!

[2020-11-05 08:40] #40 closed

[2020-11-05 12:56] idleog opened #41 "Error creating PDF when adding html/body tag"
### Description
As soon as I add the html/body tag, I get an error:

[code]

### Steps to reproduce

1. My code to produce pdf

[code]

my template _pdf_referenz.twig:

[code]

2. without html and body tags it works

### Additional info

- Craft version: 3.5.15.1
- PHP version: 7.4.2
- Database driver & version: MySQL 5.7.26
- Plugin version: 1.2.8

[2020-11-07 17:58] andrelopez commented on #41
Hi @idleog This is a known bug for when the debug toolbar is enabled in the front-end, could you please disabled it and try again? Sorry about this issue

https://github.com/enupal/snapshot/issues/3

[2020-11-07 17:58] #41 closed

[2020-11-19 10:57] mmc501 opened #42 "Ubuntu 20.04 installation - error loading resources by https"
### Description
I have installed the plugin all was working fine when on staging with non ssl url.
When I put the site live and enabled the ssl the pdf generation no longer works.

I get the error:

Exit with code 1 due to network error: UnknownNetworkError
QSslSocket: cannot call unresolved function CRYPTO_num_locks
QSslSocket: cannot call unresolved function CRYPTO_set_id_callback
QSslSocket: ca

[2020-11-24 07:10] andrelopez commented on #42
This issue is solved by installing wkhtmltopf v0.12.6, instructions here: https://docs.enupal.com/enupal-snapshot/getting-started/installation-setup.html#ubuntu-20-04-x64

Thanks for reporting @mmc501

[2020-11-24 07:10] #42 closed

[2020-12-15 17:53] idleog commented on #41
Hi Andre

thanks for your reply. disabling toolbar helped!

Cheers
Peter

Goeldi Web
--------
Glarus +41 55 508 04 06
Zürich +41 44 508 07 68
Mobil +41 78 819 32 58
www.goeldiweb.ch

Am Sa., 7. Nov. 2020 um 18:58 Uhr schrieb Andre Lopez <
notifications@github.com>:

[2021-04-01 08:34] paulmendrik opened #43 "snapshot not accepting to path to wkhtmltopdf + nitro"
Hi Andre,

Sorry to bother you again, but I don't seems to get snapshot to accept the path to path to wkhtmltopdf ev en though I've followed the instructions exactly wkhtmltopdf is installed on the server, when I use the command pwd, I get /home/ploi/wkhtmltox/bin 'ploi' being my server name but adding this path  with /wkhtmltopdf or /wkhtmltoimage gives me an error Something went wrong in the tes

[2021-04-01 09:27] andrelopez commented on #43
Hi @paulmendrik np, could you please recreate the error and send back to us a zip file of the following folder? storage/logs

Please send the file to support@enupal.com

[2021-06-02 15:12] shoored commented on #43
@paulmendrik Did you get this resolved? I got in touch with the same issue regarding a local Craft Nitro setup.

[2021-06-08 05:10] mmc501 commented on #43
@shoored I had a similar issue a few days ago.  Does the Upload Location in the Enupal Settings have a public URLs enabled?
If that's not enabled it doesn't seem to save.
I've been trying to have the pdf's generated in a secure folder location but have been unsuccessful so far.

[2021-07-12 09:52] chocolayin commented on #43
I'm having the same issue with local Craft Nitro too. Any solution? The plugin doesn't accept the path provided.

[2021-07-12 09:56] mmc501 commented on #43
I found the issue in my case was that the volume which was selected in the Upload Location below where you enter the path needs to have public url's enabled.

[2021-07-12 10:10] chocolayin commented on #43
I have enabled it. But still not working.

[2021-07-12 10:11] andrelopez commented on #43
@chocolayin could you please recreate the error and send back to us a zip file of the following folder? storage/logs

Please send the file to support@enupal.com

[2021-07-15 02:37] chocolayin commented on #43
Sure, I have sent the logs file.

[2021-09-09 10:57] johnwbaxter commented on #43
@andrelopez Same problem here, it doesn't work in Craft Nitro. Do you have any updates on this?

[2021-09-09 11:09] johnwbaxter commented on #43
@andrelopez  This is the relevant log text

[code]

The files are all there though.

[2021-09-23 14:33] shoored opened #44 "[Question] Use methods to determine asset paths in module"
### Description
I'm trying to delete a PDF generated with Snapshot after saving an entry.
Since I'm using an S3 asset volume, it would be best to get the path dynamically using the plugins settings.

This is more a question as to how I can use Snapshot's methods to determine the PDF volume path based on the plugin settings. There's a lot of cool stuff going on in all the services. But perhaps you

[2021-09-24 11:22] andrelopez commented on #44
Hi @shoored did you mean to override the asset volume settings? if so please follow the instructions here -> https://docs.enupal.com/enupal-snapshot/advanced/override-upload-asset.html#addvariables

[2021-09-24 11:46] shoored commented on #44
Hi @andrelopez , I'm sorry I should have been more clear.

Currently I'm generating a PDF for entries via the Twig methods. This works perfectly.
When the client updates an Entry, I delete the generated PDF if there is one, since the PDF contents may not be up to date anymore. This is done by a custom Craft module, which hooks into the EVENT_AFTER_SAVE event.

I noticed in Snapshots code, it has a

[2021-09-24 14:25] andrelopez commented on #44
@shoored I see, from php you may need to use something like (I haven't tested):

[code]

let me know if you have any questions

[2021-10-13 08:04] shoored commented on #44
Will fiddle with this, thanks!

[2021-10-13 18:04] shoored opened #45 "Upload location folder id is different on each environment"
### Description
For this project I've added a new Asset Volume specifically for the generated pdf's.

When deploying changes to staging for example, the new Asset Volume is created but the folder `uid` is different than on the local setup. Therefore, the upload location that was saved in Enupal Snapshot's settings cannot be found on staging since the `uid`s dont match.

This has taking me a long t

[2022-01-24 14:11] johnwbaxter commented on #43
@andrelopez Any chance of you taking a look at this? It's been quite a while now....

[2022-03-01 11:07] andrelopez commented on #43
I was able to recreate this issue on [nitro](https://craftcms.com/docs/nitro/2.x/), the issue is due that the ubuntu packages are not supported on Alpine (nitro linux distribution)
I have tried installing the `wkhtmltopdf` available on Alpine packages but it looks like is missing some dependencies
[code]

I will back when I find a fix to this issue

[2022-03-01 11:24] johnwbaxter commented on #43
Ok, thank you very much for looking into it @andrelopez !!

[2022-03-02 07:18] andrelopez commented on #43
Hi @johnwbaxter could you please try to install wkhtmltopdf following the next instructions?
- Open your terminal
- Login to nitro vi ssh as root:
`nitro ssh your_container --root `
- Install wkhtmltopf
`apk add --no-cache wkhtmltopdf`
- Install dependencies, paste each line one by one, and hit enter:
[code]
- If you want to exit:
`exit`
- On your Craft CMS dashboard go to the Enupal Snapshot sett

[2022-03-02 11:43] andrelopez commented on #43
@johnwbaxter thanks for following up. Could you please login as root via ssh again and run the following command and hit enter:
[code]
Let me know if that works

[2022-03-02 11:46] johnwbaxter commented on #43
@andrelopez That works!!!!!

[2022-03-02 11:47] andrelopez commented on #43
@johnwbaxter great! will update the docs soon. Thank you!

[2022-03-02 11:48] johnwbaxter commented on #43
@andrelopez Awesome, thanks Andre!!!

[2022-03-02 12:31] andrelopez commented on #43
In summary, to install Enupal Snapshot on Nitro 2 (may be the same for Alpine Linux distros)
- Login to nitro via ssh as root:
`nitro ssh your_nitro_site_name --root`
- Run the following command to install `wkhtmltopdf` and dependencies
[code]

- On your Craft CMS dashboard go to the Enupal Snapshot settings and save the following settings:
Absolute Binary Path of wkhtmltopdf libRequired:
`/usr/bi

[2022-03-02 12:31] #43 closed

[2022-03-10 09:34] romainpoirier opened #46 "Something went wrong in the test. Please check the path and your logs while setting wkhtmltopdf and wkhtmltoimage paths"
### Description

I am running `Mac OS Monterey 12.2.1` and I am running locally my server using `MAMP Pro 6.6.1` + `PHP 7.4.21`. I followed the plugin [install documentation](https://docs.enupal.com/enupal-snapshot/getting-started/installation-setup.html#install-wkhtmltopdf-on-macos-high-sierra-10-13-6), which is from previous Mac OS / brew version.

I had to run `brew install --cask wkhtmltopdf`

[2022-04-14 15:09] johnwbaxter opened #47 "Margin-top or header-spacing settings are not applied"
No matter what I try, I cannot get Snapshot to apply the following config settings: "margin-top" or "header-spacing"

This is my code
[code]

Any ideas as to why it wont do anything? The content on the 2nd/3rd pages etc is really tight to the top of the page, i just want to introduce some spacing.

Thanks Andre!

[2022-04-27 15:34] johnwbaxter opened #48 "Images not being output in PDFS"
Today, images just stopped being output in PDF's, no idea why.

[2022-05-16 10:53] Mathias-Syversen opened #49 "Craft 4"
Is this plugin scheduled for Craft 4?

[2022-05-16 10:57] andrelopez commented on #49
Yes we're currently working on adding support to Craf 4. Stay tuned

[2022-05-21 07:27] andrelopez commented on #49
Hi @Mathias-Syversen We just released Enupal Snapshot v2.0.0 with support for Craft CMS 4

[2022-05-21 07:27] #49 closed

[2022-05-21 07:32] andrelopez commented on #46
Hi @romainpoirier could you please recreate the error and send back to us a zip file of the following folder?

storage/logs

Please send the file to support@enupal.com

[2022-05-21 07:36] andrelopez commented on #47
Hi @johnwbaxter Could you please try to add the following css rule to your twig template?
`body { padding: 40px 0; }`

Source: https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1606#issuecomment-376181143

[2022-05-23 09:13] romainpoirier commented on #46
Hi @andrelopez, I'm sorry as there weren't any solution at the time of this issue, I had to go with another solution. So I can't replicate it as I haven't this setup anymore.

[2022-05-25 18:21] compass360 opened #52 "Passing field data to header/footer"
Is it possible to pass the text from an entry field into header template? The documentation on variables is lacking, but I'm not sure if headers/footers are treated differently anyway.

I see there is some built-in variable-replacement functionality (title/section/pagination), but I'd like to be able to pass a simple string value from a field (entry.fieldName) so that it can appear in my headers a

[2022-05-26 06:29] andrelopez commented on #52
Hi @compass360 Yes, you can pass variables to templates and headers, for example if you're following the [headers](https://docs.enupal.com/enupal-snapshot/pdf-examples/footers-and-headers.html#adding-the-footer-and-header-to-the-clioptions) example you can pass variables using the `variables` key, pass the `entry` variable that will be avialable on the `pdfexamples/header` and `_pdfexamples/footer

[2022-05-31 15:03] compass360 commented on #52
How does the variable get exposed to the template? Using your example, I'm passing the variable in the settings as you've described, then trying {{ entry.title }} in the body of my header template. I get a Twig error (Variable "entry" does not exist). Similarly, "entry" does not appear to be a part of the query strings variable object used by the javascript in these templates... So how do I access

[2022-05-31 15:18] compass360 commented on #52
For sure! I'm on Snapshot 1.2.8 and Craft CMS 3.7.41. To troubleshoot, I've simplified the variable to simply try and get a text string (rather than an element/object) and getting the same result. The rest of the headers and footers appear to be outputting just fine, as outlined in your documentation.

`{%  set settings = {
  filename: '{{ entry.slug }}_{{ "now"|date("m-d-Y") }}.pdf',
  variables:

[2022-06-03 17:03] andrelopez commented on #52
Hi @compass360 We just released Enupal Snapshot v1.2.9 with a fix to this issue. Thanks for reporting

[2022-06-03 17:03] #52 closed

[2022-06-06 11:36] andrelopez opened #54 "Ubuntu 18.04 error"
I 've followed the installation instructions for Ubuntu and installed Wkhtmltopdf, however, I cannot save the settings with the correct paths in the CP settings. I receive a "Couldn't save plugin settings." error message. There is nothing in the error logs indicating there is a problem. I read another tix with this similar problems saying to make sure assets have a public URL and they do.

[2022-06-06 11:43] andrelopez opened #55 "Craft 4"
Is this plugin scheduled for Craft 4?

[2022-06-06 12:02] #54 closed

[2022-07-25 19:15] compass360 opened #56 "Full-page background outside of set margins?"
### Description

I've got my PDF outputting beautifully with running headers/footers, nice page breaks, and it all looks great. I'd like to have a cover page (the first page of the PDF) use a full-page graphic (ideally an SVG) as its background, but I can see that the margins I've implemented (via cliOptions) prevent me from styling the content outside of these margins, which clip any overflow, le

[2022-09-17 00:00] lindseydiloreto opened #57 "Recommended way to install `wkhtmltopdf` in a DDEV container?"
Now that Nitro is dead, and DDEV is the [official solution](https://craftcms.com/blog/retiring-craft-nitro) for local development, I feel like you're going to get this question a lot...

**What is the recommended way to install `wkhtmltopdf` in a DDEV container?**

I'm scouring the internet, and it's been very difficult to piece together the correct approach. Nothing has worked so far.

[2022-10-03 01:15] iamdangavin commented on #46
Digging this one back up because I am having the same exact issue on my local install. Same errors, can't save settings with the path provided from the brew install. Makes a sample PDF in the proper place, but loses all settings if I leave the page.

Email log file

[2022-10-03 07:59] andrelopez commented on #46
Hi @iamdangavin what is your local stack (how do you run craft cms)?

[2022-10-03 15:09] iamdangavin commented on #46
Mamp Pro (php 8.0.8), Codekit, Craft CMS (4.2.5.1). Site is stored in `/Sites/_labs/{domain.com}/`

[2022-10-12 20:16] iamdangavin commented on #46
@andrelopez seeing you had any thoughts or updates on this. Thanks!